*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #DCE0E2;
}

.navbar{
	border-bottom: solid 3px #008ed6;
	opacity: 0.8;
}
.pagination-links{
	margin: 30px 0px;
}
a.pagination-links{
	padding: 8px 13px;
	margin: 5px;
	background-color: #111;
	border: 1px solid #eee;
	color: #fff;
}
.pagination-links strong{
	padding: 8px 13px;
	margin: 5px;
	background-color: #1646FF;
	border: 1px solid #eee;
	color: #fff;
}
.blog-header {
  padding-bottom: 1.25rem;
  margin-bottom: 2rem;
  border-bottom: .05rem solid #eee;
}
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

#home-section{
	margin-top: -19px;
	background: url('./img/home.jpeg') no-repeat;
	min-height: 665px;
	background-size: cover;
	background-attachment: fixed;

}
.dark-overlay{
	background-color: rgb(0,0,0,0.7);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 700px;
}
.home-inner{
	padding-top: 150px;
}
.card-form{
	opacity: 0.8;
}
.fa{
	color: #008ed6;
	background-color: #fff;
	padding: 4px;
	border-radius: 5px;
	font-size: 30px;
}
#explore-section .fa{
	color: #008ed6;
	background-color: #333;
	padding: 4px;
	border-radius: 5px;
	font-size: 30px;
}
